@use "reset";
@use "fonts";
@use "variables";
@use "common";

body {
  font-family: Klein, sans-serif;
  font-size: toRem(18);
  line-height: 1.4;
  letter-spacing: -2%;
  color: $text-primary;
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  > main {
    flex: 1 1 auto;
  }
}