@use "reset";
@use "fonts";
@use "variables";
@use "common";
@use "mixins";

body {
  font-family: Klein, sans-serif;
  font-size: $fs-18;
  line-height: 1.4;
  letter-spacing: -2%;
  color: $text-primary;
  overflow-x: hidden;
  position: relative;
}