@use 'mixins' as *;

// Background colors
$bg-main: rgb(255, 255, 255);
$bg-accent-light-blue: rgb(232, 244, 255);

// Colors
$text-primary: rgb(24, 42, 66);
$text-secondary: rgb(128, 144, 164);

// Font sizes
$fs-14: toRem(14);
$fs-16: toRem(16);
$fs-18: toRem(18);
$fs-22: toRem(22);

// Wrapper
$container-width: 1450;
$container-padding: 15;