.container {
  @extend %container;
  padding-top: toRem(20);
  padding-bottom: toRem(20);
  min-height: toRem(40);
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  column-gap: toRem(15);
}

.logos {
  display: flex;
  align-items: center;
  column-gap: toRem(5);
}

.copyrights {
  color: $text-secondary;
  font-size: toRem(14);
}

.payments {
  display: flex;
  align-items: center;
  column-gap: toRem(22);
}