.footer {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: toRem(1);
    background-color: $border;
    transform: scaleY(0.15);
    transform-origin: top;
  }
}

.container {
  @extend %container;
  padding-top: toRem(20);
  padding-bottom: toRem(20);
  min-height: toRem(40);
  display: flex;
  justify-content: space-between;
  gap: toRem(15);

  @media (max-width: toEm(767.98)) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.content {
  display: flex;
  align-items: center;
  column-gap: toRem(15);
}

.logos {
  display: flex;
  align-items: center;
  column-gap: toRem(5);
}

.copyrights {
  color: $text-secondary;
  font-size: $fs-14;
}

.payments {
  display: flex;
  align-items: center;
  column-gap: toRem(22);
}